.osl-header {
  background-color: var(--bgColor);

  &__heading {
    font-weight: lighter;
    font-size: 2.5rem;
    line-height: 1;
    color: var(--fontColor);

    a {
      color: inherit;
      text-decoration: none;
    }
  }

  &__sub-heading {
    font-weight: bold;
    font-size: .3em;
    display: block;
    color: var(--fontColorLight);
  }
}
