@import "vars";

.osl-header {
  background-color: var(--bgColor);

  &__heading {
    font-weight: lighter;
    font-size: 2.5rem;
    line-height: 1;
    color: var(--fontColor);

    a {
      color: inherit;
      text-decoration: none;
      display: grid;
      grid-template-columns: max-content max-content;
      grid-column-gap: $marginSm;
      align-items: center;

      &::before {
        display: block;
        content: '';
        width: 2rem;
        height: 2rem;
        background: url("../images/logo.svg") no-repeat center center;
        background-size: contain;
      }
    }
  }

  &__sub-heading {
    font-weight: bold;
    font-size: .3em;
    color: var(--fontColorLight);
    grid-column: 2;
  }
}
